@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Section {
  padding: 210px 0 140px;
}

.SectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.Title {
  @include solutionsTitle;
  text-align: center;
}

.Text {
  @include solutionsText;
  max-width: 760px;

  text-align: center;
  font-size: 22px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.44px;
}

.BlocksWrapper {
  margin-top: 40px;

  display: flex;
  column-gap: 40px;

  @include media_lg {
    column-gap: 25px;
  }

  @include media_md {
    flex-direction: column;
    row-gap: 30px;
  }
}

.Block {
  padding: 40px;

  width: 520px;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 46px;

  border-radius: 20px;
  border: 1px solid #53dfd5;
  background: #fff;

  list-style-type: none;

  &:nth-child(1) {
    .BlockImg {
      background: url("./On-Premise.svg") center center/contain no-repeat;
    }
  }

  &:nth-child(2) {
    .BlockImg {
      background: url("./SaaS.svg") center center/contain no-repeat;
    }
  }

  @include media_lg {
    width: 100%;
    height: auto;
  }

  @include media_md {
    max-width: 500px;
  }

  @include media_xs {
    padding: 40px 20px;
    row-gap: 25px;
  }
}

.BlockImg {
  height: 130px;
  width: 130px;

  @include media_lg {
    height: 110px;
    width: 110px;
  }

  @include media_xs {
    height: 80px;
    width: 80px;
  }
}

.BlockTitle {
  color: #53dfd5;
  font-size: 40px;
  font-family: Poppins;
  font-weight: 700;
  letter-spacing: 0.8px;

  //xs
  @include media_xs {
    font-size: 30px;
  }
}

.BlockList {
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @include media_xs {
    margin-top: 0;
  }
}

.BlockItem {
  @include solutionsItem;
}
