@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Choose {
  padding: 140px 0;

  //sm
  @include media-sm {
    padding: 80px 0;
  }
}

.ChooseWrapper {
  display: grid;
  grid-template-columns: 500px 650px;
  justify-content: space-between;
  row-gap: 50px;

  @include media-2xl {
    grid-template-columns: 435px 590px;
  }

  @include media-xl {
    grid-template-columns: 350px auto;
    row-gap: 40px;
    column-gap: 100px;
  }

  @include media-lg {
    column-gap: 65px;
  }

  @include media-md {
    grid-template-columns: 1fr;
  }

  @include media-sm {
    row-gap: 30px;
  }
}

.Title {
  @include subtitle;

  font-family: "Poppins";
  font-weight: 600;
  font-size: 70px;
  line-height: 80px;

  span {
    display: block;
  }
}

.Text {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--color-blue-deep);

  @include media-xl {
    font-size: 18px;
  }
}

.ChooseList {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/5;
  row-gap: 28px;

  list-style-type: none;

  @include media-md {
    grid-column: unset;
    grid-row: unset;
  }
}

.ChooseItem {
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: 20px;

  //sm
  @include media-sm {
    margin-top: 10px;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.ImgWrapper {
  height: auto;
  width: 100%;

  svg {
    height: 120px;
    width: 120px;
  }
}

.ChooseItemText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}

.ChooseTitle {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-blue-deep);
}

.ChooseDescr {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: var(--color-blue-deep);
}
