@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Section {
  padding: 280px 0 225px;

  @include media-2xl {
    padding: 200px 0;
  }

  @include media-xl {
    padding: 150px 0;
  }

  @include media-md {
    padding: 100px 0;
  }
}

.SectionWrapper {
  @include solutionsWrapperRight;
  grid-template-columns: auto 560px;
  column-gap: 135px;
}

.Title {
  @include solutionsTitleRight;
}

.Text {
  @include solutionsTextRight;
}

.List {
  @include solutionsListRight;

  @include media-md {
    order: 4;
  }
}

.ListItem {
  @include solutionsItemRight;
}

.Button {
  @include btnOnBlack;

  grid-column: 2/3;

  width: 240px;
  height: 60px;

  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.03em;
  color: #161c23;

  background-color: var(--color-primary-dark);

  &:hover {
    background-color: transparent;
    border: 2px solid var(--color-primary-dark);
  }

  @include media-md {
    grid-column: unset;
    order: 5;

    &:hover {
      background-color: transparent;
      border: none;
    }
  }

  @include media-xs {
    justify-self: center;
    max-width: 300px;
    width: 100%;
  }
}

.ImgWrapper {
  position: relative;

  width: 100%;

  grid-column: 1/2;
  grid-row: 1/5;

  @include media-md {
    margin-top: 0;

    height: 450px;

    grid-column: unset;
    grid-row: unset;
    order: 3;
  }

  @include media-xs {
    height: 350px;
  }
}

.Screenshot {
  position: absolute;

  top: -140px;
  right: 0px;

  width: 772px;
  height: 743px;

  background: url("./Communicator.svg") center center/contain no-repeat;

  @include media-xl {
    top: -100px;

    width: 682px;
    height: 656px;
  }

  @include media-md {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 125%;
    height: 125%;
  }
}
