@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Section {
  padding: 160px 0 150px;

  @include media-sm {
    padding: 150px 0 120px;
  }
}

.SectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  @include title;

  color: #fff;
  font-family: Poppins;
  line-height: 50px;
  letter-spacing: 12.42px;
}

.Subtitle {
  @include subtitle;

  margin-top: 50px;

  color: #fff;
  font-size: 60px;
  font-family: Poppins;
  font-weight: 600;
  letter-spacing: 1.2px;

  @include media_sm {
    margin-top: 40px;

    text-align: center;
    letter-spacing: 0.6px;
  }
}

.Label {
  margin-top: 30px;

  color: #fff;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.16px;
}

.Note {
  margin-top: 20px;

  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: Poppins;
  line-height: 23px;
  letter-spacing: 0.56px;
}

.Packages {
  margin: 60px 0 10px;

  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  column-gap: 20px;

  @include media-sm {
    display: none;
  }
}

.PackagesContentMobile {
  display: none;

  @include media-sm {
    width: 100vw;
    max-width: 400px;
    display: block;

    overflow: initial;
  }
}

.PackagesWrapperMobile {
  display: none;

  @include media-sm {
    display: flex;
  }
}

.PackagesPagination {
  margin-top: 20px;

  display: none;
  justify-content: center;
  column-gap: 15px;

  @include media-sm {
    display: flex;
  }
}

.PackagesPaginationItem {
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background: #d9d9d9;
  list-style-type: none;

  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.PackagesPaginationItemActive {
  background: var(--color-primary);
}

.Package {
  position: relative;
  padding: 40px 20px 20px;

  width: 100%;
  height: 820px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  border: 1px solid var(--color-primary);
  background: rgba(255, 255, 255, 0.2);

  overflow: hidden auto;

  &:nth-child(1) {
    .Divider {
      margin-top: 145px !important;
    }
    .DividerActive {
      margin-top: 33px !important;
    }
  }

  &:nth-child(2) {
    .PackagePrice {
      margin-bottom: 4px;
    }
  }

  &:nth-child(3) {
    .PackagePrice {
      margin-bottom: 7px;
    }
  }

  &:nth-child(4) {
    .IncludingText {
      &:before {
        content: "";
      }
    }
  }

  @include media-sm {
    padding: 40px 15px 20px;

    height: 760px;

    &:nth-child(1) {
      .DividerActive {
        margin-top: 30px !important;
      }
    }
  }
}

.Package::-webkit-scrollbar {
  display: none;
}

.PackageTitle {
  color: #fff;
  font-size: 26px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.78px;

  @include media-sm {
    font-size: 30px;
    letter-spacing: 0.9px;
  }
}

.PackageDescr {
  margin-top: 12px;

  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: Poppins;
  line-height: 120%;
  letter-spacing: 0.28px;

  @include media_sm {
    margin-top: 15px;
    max-width: 250px;
  }
}

.PriceWrap {
  margin-top: 40px;

  display: flex;
  align-items: flex-end;
  column-gap: 2px;

  span {
    font-family: Poppins;
    font-size: 40px;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    color: #fff;
  }
}

.PackagePrice {
  color: #fff;
  font-size: 14px;
  font-family: Poppins;
  text-transform: lowercase;
}

.PackageBtn {
  @include btnOnBlack;
  margin-top: 50px;

  width: 100%;
  height: 50px;
  min-height: 50px;

  color: var(--color-blue-deep);
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0.48px;

  background: var(--color-primary);
  border: 2px solid var(--color-primary);

  &:hover {
    background-color: transparent;
    color: var(--color-primary);
  }

  @include media_sm {
    font-size: 16px;
  }
}

.Including {
  margin-top: 50px;

  width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 22px;
}

.IncludingItem {
  display: flex;
  justify-content: space-between;
}

.IncludingTitle {
  max-width: 145px;

  color: #fff;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.13px;

  span {
    color: var(--color-primary);
    font-weight: 400;
    cursor: pointer;
  }

  @include media_sm {
    max-width: 156px;

    font-size: 14px;
  }
}

.IncludingText {
  position: relative;

  color: #fff;
  text-align: right;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.12px;

  span {
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.14px;
  }

  @include media_sm {
  }
}

.IncludingText > .Currency {
  &::before {
    content: "$";
    position: absolute;
    top: -3px;
    left: -9px;

    color: var(--color-primary);
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0.11px;
  }
}

.FeeList {
  margin-top: 0px;
  padding-left: 20px;

  height: 0;

  list-style-type: disc;

  visibility: hidden;
  overflow: hidden;
}

.FeeListActive {
  margin-top: 10px;

  height: auto;

  visibility: visible;
  overflow: auto;
}

.FeeItem {
  display: none;

  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.12px;
}

.FeeItemActive {
  display: list-item;
}

.Dollar {
  &::before {
    content: "$";
    position: absolute;
    left: -9px;
    top: -3px;

    font-size: 12px;
    font-weight: 500;
  }
}

.Divider {
  margin-top: 30px;

  width: 100%;
  height: 1px;
  min-height: 1px;

  background: rgba(255, 255, 255, 0.5);
}

.DividerActive {
  margin-top: 30px;
}

.PriceMO {
  position: relative;
  margin-top: 50px;

  width: 100%;

  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #fff;

  span {
    display: inline-flex;

    font-size: 44px;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: 0.88px;
    color: var(--color-primary);
  }

  @include media_sm {
    margin-top: 40px;

    font-weight: 400;

    span {
      font-size: 48px;
      letter-spacing: 0.96px;
    }
  }
}

.PriceMODescr {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;

  color: #fff;
  font-size: 11px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 137%;
}

.Features {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.Feature {
  position: relative;
  padding-left: 10px;

  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;

  list-style-type: none;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;

    height: 4px;
    width: 4px;

    border-radius: 50%;
    background-color: #fff;
  }

  span {
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.28px;
  }

  @include media_sm {
    font-size: 14px;
  }
}

.NoteAfterPrice {
  margin-top: 20px;

  align-self: flex-start;
  color: #fff;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 137%;
  letter-spacing: 0.14px;

  span {
    font-weight: 600;
    font-size: 16px;
  }

  @include media_sm {
    text-align: center;
  }
}

.NoteAfterPrice:first-child {
  margin-top: 30px;
}

.Table {
  margin-top: 150px;

  width: 100%;

  @include media_sm {
    position: relative;
    margin-top: 100px;

    height: 390px;
  }
}

.TableContent {
  display: grid;
  grid-template-columns: 390px 1fr;
  justify-content: space-between;

  @include media-sm {
    position: absolute;
    top: 0;
    left: -30px;

    width: 100vw;

    grid-template-columns: 55% 45%;
  }

  @include media-xs {
    grid-template-columns: minmax(190px, 100%) minmax(130px, 200px);
  }
}

.TableStatic {
  @include media-sm {
    background-color: #303740;
  }
}

.TableStatic > .TableList {
  @include media-sm {
    position: relative;
    padding: 20px 15px 25px 25px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100vw;
      height: 1px;

      background-color: rgba(217, 217, 217, 0.1);
    }
  }
}

.TableStatic .TableItem {
  @include media-sm {
    font-size: 14px;
    font-weight: 400;
    line-height: 116%;
    letter-spacing: 0.14px;
  }
}

.TableInner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include media-sm {
    display: none;
  }
}

.TableInnerMobile {
  display: none;

  @include media-sm {
    display: block;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100vw;
      height: 1px;

      background-color: rgba(217, 217, 217, 0.1);
    }
  }
}

.TableCol {
  display: flex;
  flex-direction: column;
}

.TableTitle {
  height: 48px;

  color: var(--color-primary);
  font-size: 40px;
  font-weight: 500;
  font-family: Poppins;
  letter-spacing: 0.4px;

  @include media_sm {
    margin: 23px 15px 23px 25px;

    height: auto;

    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
  }
}

.FeatureTitle {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 20px;
  font-family: Poppins;
  letter-spacing: 0.4px;
  line-height: 24px;

  span {
    display: block;
    color: #fff;
    font-weight: 500;
  }

  @include media_sm {
    margin: 23px 20px 23px;

    span {
      display: none;

      font-size: 20px;
    }
  }
}

.TableList {
  margin-top: 14px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);

  list-style-type: none;

  @include media_sm {
    margin-top: 0;
    padding: 20px 20px 25px;
  }
}

.TableItem {
  height: 60px;

  display: flex;
  align-items: center;

  color: #fff;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0.16px;

  border-bottom: 1px solid var(--color-primary);

  @include media_sm {
    border-bottom: none;
    height: 45px;
  }
}

.TablePag {
  bottom: 1px !important;

  width: 100% !important;
  height: 2px !important;

  display: flex !important;
  column-gap: 2px;
}

.TablePagItem {
  height: 100%;
  width: 100%;
  border-radius: 0;

  background-color: #303740;
}

.TablePagItemActive {
  background-color: var(--color-primary) !important;
}
