@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Section {
  padding-top: 155px;

  @include media-lg {
    padding-top: 140px;
  }

  @include media-md {
    padding-top: 100px;
  }
}

.SectionWrapper {
  @include solutionsWrapperRight;
  column-gap: 60px;
  grid-template-columns: auto 580px;

  @include media-lg {
    grid-template-columns: auto 390px;
  }

  @include media-md {
    grid-template-columns: 1fr;
  }
}

.Title {
  @include solutionsTitleRight;
}

.Text {
  @include solutionsTextRight;
}

.List {
  @include solutionsListRight;
  padding-left: 12px;

  @include media-md {
    order: 4;
  }
}

.ListItem {
  @include solutionsItemRight;
}

.ImgWrapper {
  position: relative;
  margin-top: 10px;

  width: 100%;

  grid-column: 1/2;
  grid-row: 1/5;

  @include media-md {
    margin-top: 0;

    grid-column: unset;
    grid-row: unset;

    height: 450px;

    order: 3;
  }

  @include media-sm {
    height: 350px;
  }

  @include media-xs {
    height: 250px;
  }
}

.Img {
  position: absolute;
  right: 70px;

  width: 700px;
  height: 525px;

  background: url("./MigrationAnimation.gif") center center/contain no-repeat;

  @include media_xl {
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    width: 600px;
    height: 450px;
  }

  @include media-md {
    right: unset;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include media-sm {
    height: 100%;
    width: 100%;
  }
}
