@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Section {
  padding-top: 190px;

  @include media_xl {
    padding-top: 130px;
  }

  @include media-sm {
    padding-top: 100px;
  }
}

.SectionWrapper {
  @include solutionsWrapperRight;
  column-gap: 135px;
}

.Title {
  @include solutionsTitleRight;
}

.Text {
  @include solutionsTextRight;
}

.List {
  @include solutionsListRight;

  @include media-md {
    order: 4;
  }
}

.ListItem {
  @include solutionsItemRight;
}

.Button {
  @include btn;

  margin-top: 20px;

  grid-column: 2/3;

  width: 240px;
  height: 60px;

  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.03em;
  color: #161c23;

  border: 2px solid var(--color-primary-dark);
  background-color: transparent;

  &:hover {
    background-color: var(--color-primary-dark);
  }

  @include media-md {
    grid-column: unset;
    order: 5;
  }

  @include media-xs {
    justify-self: center;
    max-width: 300px;
    width: 100%;

    background-color: var(--color-primary-dark);
  }
}

.ImgWrapper {
  position: relative;
  margin-top: 10px;

  width: 100%;

  grid-column: 1/2;
  grid-row: 1/5;

  @include media-md {
    margin-top: 0;

    height: 450px;

    grid-column: unset;
    grid-row: unset;
    order: 3;
  }

  @include media-xs {
    height: 350px;
  }
}

.Screenshot {
  position: absolute;

  top: 0;
  right: 0;

  height: 809px;
  width: 832px;

  background: url("./Reporting.svg") center center/contain no-repeat;

  @include media_xl {
    top: 55%;
    transform: translateY(-50%);

    height: 609px;
    width: 632px;
  }

  @include media-md {
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 115%;
    height: 115%;
  }

  @include media-xs {
    top: 15px;
    width: 135%;
  }
}
