.Menu {
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 50px;

  list-style-type: none;
}

.MenuLink {
  position: relative;

  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-decoration: none;

  transition: all 0.2s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: var(--color-primary);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
}

.MenuLinkActive,
.MenuLink:hover {
  color: var(--color-primary);

  &::after {
    opacity: 1;
  }
}
