@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Section {
  padding: 165px 0 145px;

  @include media_xl {
    padding-top: 145px;
  }
}

.SectionWrapper {
  @include solutionsWrapperRight;
  grid-template-columns: auto 600px;
  column-gap: 50px;
}

.Title {
  @include solutionsTitleRight;
}

.Text {
  @include solutionsTextRight;
}

.List {
  @include solutionsListRight;
  padding-left: 20px;
}

.ListItem {
  @include solutionsItemRight;
}

.ImgWrapper {
  position: relative;

  width: 100%;

  grid-column: 1/2;
  grid-row: 1/4;
}

.Screenshot {
  position: absolute;

  top: -40px;
  right: 70px;

  height: 602px;
  width: 832px;

  background: url("./DealsManager.svg") center center/contain no-repeat;

  @include media_xl {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}
