@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Main {
  position: relative;
  padding: 160px 0 235px;

  background: linear-gradient(114.65deg, #202833 39.04%, #000000 99.02%);
  overflow: hidden;
  clip-path: ellipse(150% 100% at 50% 0%);
}

.MainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.Title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-primary);
}

.Subtitle {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 0.69em;
  text-transform: uppercase;
  color: #ffffff;
}

.Text {
  max-width: 760px;

  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  line-height: 127%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;

  span {
    color: var(--color-primary);
  }
}

.CircleeDashed {
  position: absolute;

  display: block;

  border: 2px dashed rgba(72, 198, 239, 0.3);
  border-radius: 50%;

  z-index: 99;

  &_1 {
    top: 70px;
    right: -222px;

    height: 430px;
    width: 430px;

    @include media_xl {
      height: 400px;
      width: 400px;
    }

    @include media_lg {
      height: 360px;
      width: 360px;
    }
  }

  &_2 {
    bottom: 22px;
    left: -192px;

    height: 309px;
    width: 309px;

    .CircleFilled {
      top: 20px;
      right: 46px;

      height: 25px;
      width: 25px;
    }
  }
}

.CircleeDashed .CircleFilled {
  position: absolute;

  display: block;

  background: var(--color-primary);
  border-radius: 50%;

  z-index: 99;
}

.Inner {
  position: relative;

  height: 100%;
  width: 100%;

  animation-name: rotate360;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
