@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Trigger {
  padding: 60px 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.TriggerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.Title {
  width: 760px;

  font-family: Poppins;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;

  span {
    color: var(--color-primary);
  }
}

.Button {
  @include btnOnBlack;

  width: 240px;
  height: 60px;
}
