@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Trigger {
  padding: 85px 0;
  background: linear-gradient(109.53deg, #28303c 33.07%, #000000 86.95%, #202833 110.4%);

  @include media-md {
    padding: 65px 0;
  }

  @include media-sm {
    padding: 50px 0;
  }
}

.TriggerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 55px;
}

.Title {
  max-width: 850px;

  font-family: "Montserrat";
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;

  span {
    text-transform: capitalize;

    color: var(--color-primary);
  }

  @include media-sm {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.64px;
  }
}

.Button {
  @include btnOnBlack;

  width: 240px;
  height: 64px;
}
