@mixin media-2xl {
  @media screen and (max-width: 1919px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (max-width: 1439px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin media-xs {
  @media screen and (max-width: 575px) {
    @content;
  }
}
