@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
@import "@/styles/_media-mixin.scss";
@import "@/styles/_variables.scss";

*,
*::after,
*::before,
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Montserrat", "Inter", "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  margin: 0 auto;

  width: 100%;
  max-width: 1320px;

  @include media-2xl {
    max-width: 1180px;
  }

  @include media-xl {
    max-width: 960px;
  }

  @include media-lg {
    max-width: 860px;
  }

  @include media-md {
    max-width: 670px;
  }

  @include media-sm {
    max-width: 100%;
    padding: 0 50px;
  }

  @include media-xs {
    padding: 0 30px;
  }
}

:root {
  --color-primary: #66fcf1;
  --color-primary-dark: #53dfd5;
  --color-secondary: #202833;
  --color-blue-deep: #28303c;

  --bg-color: #f7f7f7;
}
