@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Section {
  padding: 160px 0 140px;

  @include media-lg {
    padding: 140px 0;
  }

  @include media-md {
    padding: 100px 0;
  }
}

.SectionWrapper {
  @include solutionsWrapper;
  grid-template-columns: 560px auto;

  @include media-lg {
    grid-template-columns: 400px auto;
  }

  @include media-md {
    grid-template-columns: 1fr;
  }
}

.Title {
  @include solutionsTitle;
}

.Text {
  @include solutionsText;
}

.List {
  @include solutionsList;
  margin-top: 0;
  max-width: 520px;

  @include media-md {
    order: 4;
  }
}

.ListItem {
  @include solutionsItem;
}

.ImgWrapper {
  position: relative;

  width: 100%;

  grid-column: 2/3;
  grid-row: 1/5;

  @include media-md {
    grid-column: unset;
    grid-row: unset;

    height: 450px;

    order: 3;
  }

  @include media-xs {
    height: 350px;
  }
}

.Screenshot {
  position: absolute;

  top: 0px;
  left: 70px;

  width: 713px;
  height: 668px;

  background: url("./Integration.svg") center center/contain no-repeat;

  @include media_xl {
    left: 0;
  }

  @include media-md {
    top: -30px;
    left: 0;

    height: 110%;
    width: 100%;
  }

  @include media-sm {
    top: -15px;
  }

  @include media-xs {
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
  }
}
