@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Section {
  padding: 220px 0 0;

  @include media-xl {
    padding-top: 160px;
  }
}

.SectionWrapper {
  @include solutionsWrapper;
  grid-template-columns: 594px auto;
  column-gap: 60px;
}

.Title {
  @include solutionsTitle;
}

.Text {
  @include solutionsText;
  font-size: 22px;
}

.List {
  @include solutionsList;
  margin-top: 0;
  max-width: 450px;
}

.ListItem {
  @include solutionsItem;
}

.ImgWrapper {
  position: relative;

  width: 100%;

  grid-column: 2/3;
  grid-row: 1/4;
}

.Screenshot {
  position: absolute;

  top: -60px;
  left: 60px;

  width: 717px;
  height: 648px;

  @include media-xl {
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 617px;
    height: 558px;
  }
}
