@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Main {
  position: relative;
  padding: 180px 0 110px;

  background: linear-gradient(114.65deg, #202833 39.04%, #000000 99.02%);
  clip-path: ellipse(150% 100% at 50% 0%);

  @include media-lg {
    padding: 150px 0 120px;
  }

  @include media-sm {
    padding: 160px 0 120px;
  }

  @include media-xs {
    clip-path: ellipse(200% 100% at 50% 0%);
  }
}

.MainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.Title {
  max-width: 675px;

  font-family: "Poppins";
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;

  span {
    color: var(--color-primary);
  }

  @include media-lg {
    max-width: 500px;

    font-size: 50px;
    line-height: 56px;
  }

  @include media-sm {
    font-size: 55px;
    line-height: 63px;
    letter-spacing: 1.1px;
  }
}

.Text {
  max-width: 760px;

  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;

  span {
    color: var(--color-primary);
  }

  @include media-lg {
    max-width: 700px;

    font-size: 20px;
  }

  @include media-md {
    max-width: 600px;
  }

  @include media-sm {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.54px;
  }
}

.MiddleMenuWrapp {
  position: relative;
  padding: 60px;

  width: 644px;
  height: 644px;

  border-radius: 50%;
  border: 1px dashed rgba(72, 198, 239, 0.4);

  @include media-xl {
    margin-top: 40px;
  }

  @include media-lg {
    width: 550px;
    height: 550px;
  }

  @include media-sm {
    margin-top: 0;

    height: 350px;
    width: 350px;
  }
}

.DashedBg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 524px;
  height: 524px;

  border-radius: 50%;
  border: 1px dashed rgba(102, 252, 241, 0.4);

  @include media-lg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 450px;
    height: 450px;
  }

  @include media-sm {
    height: 290px;
    width: 290px;
  }
}

.DashedBgInner {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 50%;

  animation: rotate360Reverse 50s linear infinite;
}

.FiledBg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 418px;
  height: 418px;

  @include media-lg {
    width: 350px;
    height: 350px;
  }

  @include media-sm {
    height: 227px;
    width: 227px;
  }
}

.CircleLinkWrap {
  position: absolute;

  height: 154px;
  width: 154px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-primary-dark);
  text-align: center;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 1.33px;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #474d53;
  border: 3px solid var(--color-primary-dark);
  border-radius: 50%;

  transition: all 0.2s ease-in-out;

  &_1 {
    top: -65px;
    left: 50%;
    transform: translateX(-50%) !important;

    &:hover {
      transform: scale(1.1) translateX(-45%) !important;
    }
  }

  &_2 {
    right: -65px;
    top: 50%;
    transform: translateY(-50%) !important;

    &:hover {
      transform: scale(1.1) translateY(-45%) !important;
    }
  }

  &_3 {
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%) !important;

    &:hover {
      transform: scale(1.1) translateX(-45%) !important;
    }
  }

  &_4 {
    left: -65px;
    top: 50%;
    transform: translateY(-50%) !important;

    &:hover {
      transform: scale(1.1) translateY(-45%) !important;
    }
  }

  @include media-lg {
    height: 130px;
    width: 130px;

    font-size: 16px;
    line-height: 20px;

    border-width: 2px;
  }

  @include media-sm {
    height: 84px;
    width: 84px;

    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.723px;

    &_1 {
      top: -35px;
    }

    &_2 {
      right: -35px;
    }

    &_3 {
      bottom: -35px;
    }

    &_4 {
      left: -35px;
    }
  }
}

.MiddleMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.MiddleMenuLink {
  position: relative;

  color: var(--color-primary);
  text-align: center;
  font-size: 17px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.85px;
  text-transform: uppercase;
  text-decoration: none;

  transition: all 0.2s ease-in-out;

  &:hover {
    text-decoration: underline;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);

    height: 1px;
    width: 4px;

    background-color: #fff;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

  @include media-lg {
    font-size: 15px;
  }

  @include media-sm {
    font-size: 9px;
    line-height: 13px;
    letter-spacing: 0.462px;
  }
}

.ArrowInner {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background: url("./CircleWithArrows.svg") center center/cover no-repeat;

  animation: rotate360 20s linear infinite;
}

.MiddleMenuInner {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  border-radius: 50%;

  animation: rotate360 120s linear infinite;
}

.FiledCircle {
  position: absolute;

  border-radius: 50%;
  background: #66fcf1;

  &_1 {
    top: 55px;
    left: 102px;

    width: 32px;
    height: 32px;

    animation: scaleAnimation 4s linear infinite;

    @include media-lg {
      left: 73px;
    }

    @include media-sm {
      left: 25px;

      height: 23px;
      width: 23px;

      animation-name: scaleAnimationMobile;
    }
  }

  &_2 {
    top: 42px;
    right: 131px;

    width: 23px;
    height: 23px;

    animation: scaleAnimation 4s linear infinite 2s;

    @include media-lg {
      right: 99px;
    }

    @include media-sm {
      right: 37px;

      animation-name: scaleAnimationMobile;
    }
  }

  &_3 {
    bottom: 97px;
    right: 61px;

    width: 28px;
    height: 28px;

    animation: scaleAnimation 4s linear infinite 4s;

    @include media-lg {
      right: 37px;
    }

    @include media-sm {
      right: 3px;

      height: 20px;
      width: 20px;

      animation-name: scaleAnimationMobile;
    }
  }

  &_4 {
    left: 15px;
    bottom: 189px;

    width: 18px;
    height: 18px;

    animation: scaleAnimation 4s linear infinite 3s;

    @include media-lg {
      bottom: 151px;
    }

    @include media-sm {
      bottom: 77px;

      animation-name: scaleAnimationMobile;
    }
  }

  &_5 {
    top: 130px;
    right: 22px;

    width: 18px;
    height: 18px;

    animation: scaleAnimation 4s linear infinite 1s;

    @include media-lg {
      top: 101px;
    }

    @include media-sm {
      top: 45px;

      animation-name: scaleAnimationMobile;
    }
  }

  &_6 {
    width: 18px;
    height: 18px;

    bottom: 47px;
    left: 89px;

    animation: scaleAnimation 4s linear infinite;

    @include media-lg {
      left: 64px;
    }

    @include media-sm {
      left: 20px;

      animation-name: scaleAnimationMobile;
    }
  }
}

.CircleeDashed {
  position: absolute;

  display: block;

  border: 2px dashed rgba(72, 198, 239, 0.3);
  border-radius: 50%;

  z-index: 99;

  &_1 {
    bottom: 444px;
    right: -222px;

    height: 430px;
    width: 430px;
  }

  &_2 {
    bottom: 22px;
    left: -192px;

    height: 309px;
    width: 309px;

    .CircleFilled {
      top: 20px;
      right: 35px;

      height: 35px;
      width: 35px;
    }
  }

  @include media-lg {
    &_1 {
      height: 360px;
      width: 360px;
    }
  }

  @include media-md {
    display: none !important;
  }
}

.CircleeDashed .CircleFilled {
  position: absolute;

  display: block;

  background: var(--color-primary);
  border-radius: 50%;

  z-index: 99;
}

.Inner {
  position: relative;

  height: 100%;
  width: 100%;

  animation-name: rotate360;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate360Reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(0.5);
  }

  60% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scaleAnimationMobile {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
