@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px 0;

  width: 100%;

  transition: all 0.3s ease-in-out;
  z-index: 99;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(114.65deg, #202833 39.04%, #000000 99.02%);
    opacity: 0;

    transition: all 0.2s ease-in-out;
  }
}

.HeaderFixed {
  &:before {
    opacity: 1;
  }
}

.HeaderDark {
  &::before {
    opacity: 1;
  }
}

.HeaderWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.LogoWrapper {
  z-index: 10;
}

.Logo {
  height: 34px;

  fill: #ffffff;

  transition: all 0.3s ease-in-out;

  @include media-lg {
    max-width: 150px;
    width: 100%;
  }
}

.Nav {
  @include media-md {
    position: fixed;
    padding-top: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
    background: linear-gradient(114.65deg, #202833 39.04%, #000000 99.02%);
    transition: all 0.3s ease-in-out;
  }

  @include media-sm {
    padding: 100px 30px 0;
  }
}

.NavMobileActive {
  visibility: visible;
  opacity: 1;
}

.Menu {
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 50px;

  list-style-type: none;

  @include media-xl {
    column-gap: 35px;
  }

  @include media-lg {
    column-gap: 30px;
  }

  @include media-md {
    padding-bottom: 100px;

    max-width: 670px;
    width: 100%;

    flex-direction: column;
    align-items: flex-start;

    overflow: hidden scroll;
  }
}

.MenuItem {
  @include media-md {
    padding: 30px 10px;

    width: 100%;

    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #fff;
  }
}

.MenuItemActive {
  row-gap: 40px;
}

.MenuItemMobile {
  display: none;

  @include media-md {
    display: flex;
  }
}

.MenuLink {
  position: relative;

  display: flex;
  align-items: center;
  column-gap: 7px;

  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-decoration: none;

  transition: all 0.2s ease-in-out;

  z-index: 10;

  svg {
    width: 10px;
    height: 6px;

    fill: #fff;

    transition: all 0.2s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: var(--color-primary);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  @include media-xl {
    font-size: 14px;
    line-height: 20px;
  }

  @include media-md {
    width: 100%;
    height: 100%;

    justify-content: space-between;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;

    &::after {
      display: none;
    }

    svg {
      width: 20px;
      height: 12px;
    }
  }
}

.ArrowActive {
  transform: rotateZ(-180deg);
}

.MenuLinkActive,
.MenuLink:hover {
  color: var(--color-primary-dark);

  &::after {
    opacity: 1;
  }

  svg {
    fill: var(--color-primary);
  }
}

.SubNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  visibility: hidden;

  @include media-md {
    position: static;
  }
}

.SubNavActive {
  visibility: visible;
}

.BlurBg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);

  z-index: -1;

  animation: fadeIn 0.3s ease-in-out;

  @include media-md {
    display: none;
  }
}

.BlurBgOut {
  animation: fadeOut 0.3s ease-in-out;

  opacity: 0;
}

.Submenu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 95px 0px 50px 40px;

  width: 100%;
  max-height: 315px;

  display: none;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;

  column-gap: 40px;
  row-gap: 16px;

  background: linear-gradient(114.65deg, #202833 39.04%, #000000 99.02%);
  clip-path: ellipse(150% 100% at 50% 0%);

  transition: all 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;

  animation: fadeIn 0.3s ease-in-out;

  @include media-md {
    position: static;
    padding: 0;

    max-height: none;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    background: none;
    clip-path: none;
    transition: none;
    animation: none !important;
  }
}

.SubmenuActive {
  display: flex;

  @include media-md {
    display: grid;
  }
}

.SubmenuOut {
  animation: fadeOut 0.3s ease-in-out;

  display: flex;

  opacity: 0;
  visibility: hidden;

  @include media-md {
    height: 0px;
  }
}

.SubmenuItem {
  max-width: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-md {
    max-width: none;
    width: 100%;
  }
}

.SubmenuLink {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: Poppins;
  letter-spacing: 0.32px;
  text-decoration: none;
  font-weight: 400;

  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--color-primary-dark) !important;
  }

  @include media-md {
    font-size: 18px;
    line-height: normal;
  }
}

.ContactsList {
  margin-top: 30px;
}

.MobileBtnGroup {
  display: none;

  @include media-md {
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

    width: 100%;
  }
}

.MobileBtn {
  @include btnOnBlack;
  padding: 20px 0;
  max-width: 400px;
  width: 100%;
}

.BtnRequest {
  background-color: var(--color-primary);
  color: var(--color-deep-blue);
}

.BtnContact {
  &:hover {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
  }
}

.Button {
  @include btnOnBlack;

  padding: 15px 35px;

  z-index: 10;

  @include media-xl {
    font-size: 14px;
  }

  @include media-lg {
    padding: 15px 25px;
  }

  @include media-md {
    display: none;
  }
}

.Hamburger {
  display: none;

  @include media-md {
    padding: 2px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 30px;
    height: 24px;

    background: none;
    border: none;

    transition: all 0.2s ease-in-out;

    cursor: pointer;

    span {
      height: 2px;
      width: 100%;

      background-color: #fff;
      border-radius: 2px;

      transition: all 0.2s ease-in-out;
    }
  }
}

.HamburgerActive {
  padding: 0;

  span {
    &:first-child {
      transform: translateY(11px) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }

    &:last-child {
      transform: translateY(-11px) rotate(-45deg);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes outMenu {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-500px);
    opacity: 0;
  }
}

@keyframes showMenu {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
