@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Section {
  padding: 140px 0 0;
}

.SectionWrapper {
  @include solutionsWrapperRight;
  grid-template-columns: auto 540px;
  column-gap: 80px;
}

.Title {
  @include solutionsTitleRight;
}

.Text {
  @include solutionsTextRight;
}

.List {
  @include solutionsListRight;
}

.ListItem {
  @include solutionsItemRight;
}

.ImgWrapper {
  position: relative;

  width: 100%;

  grid-column: 1/2;
  grid-row: 1/4;
}

.Screenshot {
  position: absolute;

  top: 0;
  right: 0px;

  height: 693px;
  width: 762px;

  @include media-xl {
    height: 593px;
    width: 662px;
  }
}
