@import "@/styles/_media-mixin.scss";
@import "@/styles/_mixins.scss";

.Solutions {
  padding: 0 0 85px;
}

.SolutionsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}

.Title {
  @include title;
  text-align: center;

  @include media-sm {
    text-align: start;
  }
}

.SolutionsList {
  display: flex;
  justify-content: space-between;

  list-style-type: none;

  @include media-xl {
    flex-wrap: wrap;
    column-gap: 40px;
    justify-content: center;
  }

  @include media-lg {
    justify-content: space-between;
    max-width: 800px;
  }

  @include media-md {
    justify-content: center;
    gap: 20px;
  }
}

.SolutionsItem {
  padding: 15px 25px;
  height: 130px;
  width: 130px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;

  text-decoration: none;

  border-radius: 20px;
  transition: all 0.2s ease-in-out;

  cursor: pointer;

  &:hover {
    background: #ffffff;
    box-shadow: 3px 4px 18px 0px rgba(72, 198, 239, 0.2);
  }

  @include media-md {
    height: 140px;
    width: 140px;

    background: #ffffff;
    box-shadow: 3px 4px 18px 0px rgba(72, 198, 239, 0.2);
  }
}

.SolutionsTitle {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-blue-deep);

  @include media-xl {
    font-size: 15px;
  }
}
